/* 基本設定 */
:root {
    --main-color: #f9f9f9;
    --background-color: #f2f3f7;
    --base-color: #efefef;
    --sub-color: #697699;
    --text-color-white: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 1rem;
    padding: .5rem;
}

/* ヘッダーエリア*/
.site-header {
    background-color: var(--main-color);
}

.site-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-weight: bold;
    font-size: large;
}

/* メインエリア　*/
.site-main {
    flex: 1;
    background-color: var(--background-color);
}

/* フッターエリア*/
.site-footer {
    background-color: var(--sub-color);
}

.site-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
}

.thread-container {
    padding: 0 1rem;
}

.response-container {
    display: flex;
    flex-direction: column;
}

.response {
    background-color: var(--base-color);
    margin: 1px;
}

.response-form-container {
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--base-color);
    border-radius: 30px;
    max-width: 600px;
}

.response-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* /* デスクトップ用 
@media (min-width:960px){
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
} */