{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/sanitize.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="script.js" defer></script> -->
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="container">
    <header class="site-header">
        <div class="site-header-container">
            <a href="{% url 'index' %}" class="site-title">goちゃんねる🏺</a>
        </div>
    </header>
    <main class="site-main">
        {% block content %}{% endblock content %}
    </main>
    <footer class="site-footer">
        <div class="site-footer-container">
            <p class="copyright">@shonocode</p>
        </div>
    </footer>
</body>
</html>